[Unit]
Description=evdevhook2 gyro service
After=rogue-enemy.service

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/evdevhook2

[Install]
WantedBy=multi-user.target